@model IEnumerable<ProjectUser.Models.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "ManageProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Manage Product</li>
        </ol>
    </div><!--/.row-->



    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="pull-right">

                        <li style="list-style:none">
                            <a class="btn btn-info" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit","Category")')"><i class="fa fa-plus"></i> Add New</a>
                        </li>

                    </ul>

                </div>
                <div class="panel-body">
                    <div class="canvas-wrapper">

                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductId)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitPrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SellingPrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Photo)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductId)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SellingPrice)
                                    </td>
                                    <td>
                                        <img src="~/ProductImages/@item.Photo" height="32" width="32" />
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <p class="back-link">Sample Theme <a href="#">Project</a></p>
        </div>
    </div>
</div>